.container {
  display: flex;
  justify-content: space-evenly;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
  grid-template-rows: 0.6fr 1.4fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "header header header header" "nav content content content" "nav content content content";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}
